<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!-- <ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content> -->

<ion-view view-title="{{recv.firstName}} {{recv.lastName}}">

   <ion-content padding="true">

   
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="images/{{recv.pic}}"/>
                <h2>{{recv.firstName}} {{recv.lastName}}</h2>
                <h2> {{recv.amountDue}}</h2>
                <h2>Due on: {{recv.dueDate}}</h2>
            </div>
           <!--  <a class="item item-icon-left" href="#/employees/{{employee.managerId}}" ng-if="employee.managerId > -1"><i class="icon ion-ios7-person"></i>View Manager<p>{{employee.managerName}}</p></a>
            <a class="item item-icon-left" href="#/employees/{{employee.id}}/reports" ng-if="employee.reports > 0"><i class="icon ion-person-stalker"></i>View Direct Reports<p>{{employee.reports}}</p></a> 

{{recv.officePhone}}

{{recv.cellPhone}}

{{recv.email}} -->
           
            <a class="item item-icon-left" href="tel:1234567891"><i class="icon ion-ios7-telephone"></i>Call Office<p>{{recv.officePhone}}</p></a>
            <a class="item item-icon-left" href="tel:1234567891"><i class="icon ion-ios7-telephone"></i>Call Cell<p>{{recv.cellPhone}}</p></a>
            <a class="item item-icon-left" href="sms:1234567891"><i class="icon ion-chatbox-working"></i>SMS<p>{{recv.cellPhone}}</p></a>
            <a class="item item-icon-left" ng-click="sendEmail(recv)"><i class="icon ion-ios7-email"></i>Email<p>{{recv.email}}</p></a>
        </div>  

         <button class="button icon-left ion-close-round  button-assertive" ng-click="remove(recv)">Delete</button>
          <button class="button  icon-left ion-chevron-left button-positive" ng-click="back()">Back</button>
    </ion-content>
</ion-view>
